html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.toolbar{
  position: fixed;
  width: 100%;
  display: flex;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.25);
}
.app-img{
  width: 35px;
  height: 35px;
  border-radius: 35px;
  vertical-align: middle;
  margin: 10px;
}
.app-name{
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  vertical-align: middle;
}
.app-menu{
  display: flex;
  align-items: center;
  justify-content: center;
}
.fill-horiz{
  width: 100%;
}
.fill-vert{
  height: 100%;
}
.line-menu{
  display: inline-block;
  cursor: pointer;
  margin: 10px;
  vertical-align: middle;
}
.line1, .line2, .line3 {
  width: 20px;
  height: 2px;
  background-color: black;
  margin: 3px 0;
  transition: 0.4s;
}
/* Animate Line Menu */
.change .line1 {
  transform: translate(0, 6px) rotate(-45deg);
}
.change .line2 {opacity: 0;}
.change .line3 {
  transform: translate(0, -6px) rotate(45deg);
}
/* Animate Line Menu End */

.layout-horiz{
  display: flex;
  vertical-align: middle;
}
.layout-vert{
  vertical-align: middle;
}
.dialog{

  background: white;

  height: 60%;

  width: 90%;

  border-radius: 15px;

  box-shadow: 2px 5px 10px 0px rgba(0,0,0, 0.25);

  transition: all 0.2s ease-in-out;

}
.drawer-layout{
  display: none;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  position: fixed;
  overflow: auto;
}
.dr-item{
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid gray;
  transition: all 0.2s ease-in-out;
}
.dr-item:hover{
  background: rgba(0,0,0,0.25);
}
.enable-scroll{

  overflow: auto;

}
.input-container{
  display: flex;
  margin: 10px;
}

.input-text{
  flex: 1;
  padding: 5px;
}

.input-text-clear{
  padding: 5px;
  cursor: pointer;
}
.bg-blue{
  background-color: blue;
}
.bg-black{
  background-color: black;
}
.bg-white{
  background-color: white;
}
.shadow{
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.25);
}
.top-layout{
  width: 100%;
  display: flex;
}
.pd-10{
  padding: 10px;
}
.pd-top-50{
  padding-top: 50px;
}
.pd-top-100{
  padding-top: 100px;
}
.pd-top-150{
  padding-top: 150px;
}
.pd-bottom-50{
  padding-bottom: 50px;
}
.pd-bottom-100{
  padding-bottom: 100px;
}
.pd-bottom-150{
  padding-bottom: 150px;
}
.mg-10{
  margin: 10px;
}
.mg-top-50{
  margin-top: 50px;
}

.image{
  border-radius: 15px;
  width: 100%;
  object-fit: cover;
}

.item-card{
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 5px 10px 0px rgba(0,0,0, 0.25);
  transition: all 0.2s ease-in-out;
}
.item-card:hover{
  border: 1px solid blue;
}
.item-card:active{
  border: 1px solid blue;
}
.item-card-black{
  background-color: black;
  border-radius: 15px;
  box-shadow: 2px 5px 10px 0px rgba(0,0,0, 0.25);
  transition: all 0.2s ease-in-out;
}
.item-card-black:hover{
  border: 1px solid blue;
}
.item-card-black:active{
  border: 1px solid blue;
}
.title{
  font-weight: bold;
}
.desc{
  transition: display 0.3s ease;
}
.description{
  display: none;
  transition: display 0.3s ease;
}

.item-container{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 10px;
}

@media screen and (max-width: 800px){
			.item-container{
			display: grid;
			grid-template-columns: auto auto;
			gap: 8px;
			padding: 8px;
		}
		
		@media screen and (max-width: 500px){
			.item-container{
				display: grid;
				grid-template-columns: auto;
				gap: 5px;
				padding: 5px;
			}
		}

	}
.show-data{
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: display 0.5s ease;
  position: fixed;
  background: rgba(0,0,0,0.25);
  top: 0;
  left: 0;
  overflow: auto;
}
.sd-close{
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.sd-close:hover{
  border: 1px solid blue;
}
